.sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    z-index: 100;
    margin-top: 0px;
    
}

.sidebar img {
    position: relative;
    top: 0px;
    left: 0; 
    width: 100%;
   
}

.sidebar nav {
    margin: 0;
    padding: 0;
    padding-top: 30px;
}

.sidebar ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
}

.sidebar li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px 0px;
}

.sidebar li.selected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #eee;
    border-radius: 3px;
}

.sidebar a  {
    display: block;
    padding: 0px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s ease;
}

.sidebar li:hover {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee; 
    border-radius: 3px;
}

.container {
    margin-left: 500px;
    padding: 80px 20px 20px 240px;
}
  
.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
}

.content-container {
    margin-left: 250px;
}
  
