
.title {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 70px;
  background-color: #00319b;
  border-radius: 0px ;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-left: 250px;
}

.title h1 {
  font-family: Helvetica ;
  margin-left: -250px;
  color:#f1f1f1;   
}

.under {
  margin-top: 100px;
  text-align: center;
  color:#bebdbd; 
}

.under h5 {
  font-family: Helvetica;
}

.rapport {
  background-color: #fafafa;
  height: 40px;
  padding: 7px;
  border-radius: 20px;
  font-family: Helvetica;
  text-align: center;
  color:#bebdbd; 
}

.container {
  margin-top: -50px;
  margin-bottom: 100px;
  max-width: 1200px;
}

.sales-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
  
.filter-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.filter-field {
  margin: 0 1rem;
}

.filter-field label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.filter-field input{
  appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5em;
  width: 100%;
}

.filter-field select {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  font-size: 1.2rem;
  color: #333;
}

.filter-field button {
  background-color: #00319b;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 37px;
}

.filter-field button:hover {
  background-color: #002064;
}

.sales-summary {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.summary-table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.summary-table th, .summary-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-family: Helvetica;
}

.summary-table th {
  background-color: #f2f2f2;
}

.blue-text {
  color: #00319b;
}
  